<%=   simple_form_for(@accidente, :html => { :class => 'form­horizontal', remote: true } ) do |f| %>

  <% if @accidente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accidente.errors.count, "error") %> prohibited this accidente from being saved:</h2>

      <ul>
      <% @accidente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form­-group">
    <%= f.label :nombre_del_diligenciador %><br>
    <%= f.text_field :nombre_del_diligenciador %>
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Nombre_del_diligenciador</label> 
    <div class="col­md­4"> 
        <%= f.input_field :nombre_del_diligenciador, class: 'form­control' %> 
    </div> 
  </div> 

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Documento</label> 
    <div class="col­md­4"> 
        <%= f.input_field :documento, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Tipo_de_documento</label> 
    <div class="col­md­4"> 
        <%= f.input_field :tipodoc_id, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Tipo_de_vinculacion</label> 
    <div class="col­md­4"> 
        <%= f.input_field :tipo_de_vinculacion, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Raźon_social</label> 
    <div class="col­md­4"> 
        <%= f.input_field :razon_social, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Direccion_sede_principal</label> 
    <div class="col­md­4"> 
        <%= f.input_field :direccion_sede_principal, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Direccion_reportada</label> 
    <div class="col­md­4"> 
        <%= f.input_field :direccion_reportada, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Telefono_reportado</label> 
    <div class="col­md­4"> 
        <%= f.input_field :telefono_reportado, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Actividad_economica_sede_principal</label> 
    <div class="col­md­4"> 
        <%= f.input_field :actividad_economica_sede_principal, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Codigo</label> 
    <div class="col­md­4"> 
        <%= f.input_field :codigo1, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Telefono_sede_principal</label> 
    <div class="col­md­4"> 
        <%= f.input_field :telefono_sede_principal, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Fax_sede_principal</label> 
    <div class="col­md­4"> 
        <%= f.input_field :fax_sede_principal, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Email_sede_principal</label> 
    <div class="col­md­4"> 
        <%= f.input_field :email_sede_principal, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Departamento</label> 
    <div class="col­md­4"> 
        <%= f.input_field :departamento_id, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Municipio</label> 
    <div class="col­md­4"> 
        <%= f.input_field :municipio_id, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Zona</label> 
    <div class="col­md­4"> 
        <%= f.input_field :zona1, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Actividad_economica_centro_trabajo</label> 
    <div class="col­md­4"> 
        <%= f.input_field :actividad_economica_centro_trabajo, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Direccion_centro_trabajo</label> 
    <div class="col­md­4"> 
        <%= f.input_field :direccion_centro_trabajo, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Telefono_ct</label> 
    <div class="col­md­4"> 
        <%= f.input_field :telefono_ct, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Fax_ct</label> 
    <div class="col­md­4"> 
        <%= f.input_field :fax_ct, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Email_ct</label> 
    <div class="col­md­4"> 
        <%= f.input_field :email_ct, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Departamento</label> 
    <div class="col­md­4"> 
        <%= f.input_field :departamento2, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Municipio</label> 
    <div class="col­md­4"> 
        <%= f.input_field :municipio2, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Zona</label> 
    <div class="col­md­4"> 
        <%= f.input_field :zona, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Funcionario</label> 
    <div class="col­md­4"> 
        <%= f.input_field :funcionario_id, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Fecha_del_accidente</label> 
    <div class="col­md­4"> 
        <%= f.input_field :fecha_del_accidente, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Hora_del_accidente</label> 
    <div class="col­md­4"> 
        <%= f.input_field :hora_del_accidente, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Dia_de_la_semana</label> 
    <div class="col­md­4"> 
        <%= f.input_field :dia_de_la_semana, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Jornada_en_que_sucede</label> 
    <div class="col­md­4"> 
        <%= f.input_field :jornada_en_que_sucede, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Realiza_su_labor</label> 
    <div class="col­md­4"> 
        <%= f.input_field :realiza_su_labor, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Ocupacion_no_habitual</label> 
    <div class="col­md­4"> 
        <%= f.input_field :ocupacion_no_habitual, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Tiempo_laborado</label> 
    <div class="col­md­4"> 
        <%= f.input_field :tiempo_laborado, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Lugar_donde_ocurrio_el_at</label> 
    <div class="col­md­4"> 
        <%= f.input_field :lugar_donde_ocurrio_el_at, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Mecanismo_o_formato_del_at</label> 
    <div class="col­md­4"> 
        <%= f.input_field :mecanismo_o_formato_del_at, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Tipo_de_lesion</label> 
    <div class="col­md­4"> 
        <%= f.input_field :tipo_de_lesion, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Sitio</label> 
    <div class="col­md­4"> 
        <%= f.input_field :sitio, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Tipo_de_accidente</label> 
    <div class="col­md­4"> 
        <%= f.input_field :tipo_de_accidente, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Parte_del_cuerpo_afectado</label> 
    <div class="col­md­4"> 
        <%= f.input_field :parte_del_cuerpo_afectado, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Agente_del_accidente</label> 
    <div class="col­md­4"> 
        <%= f.input_field :agente_del_accidente, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Departamento</label> 
    <div class="col­md­4"> 
        <%= f.input_field :departamento3, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Municipio</label> 
    <div class="col­md­4"> 
        <%= f.input_field :municipio3, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Zona</label> 
    <div class="col­md­4"> 
        <%= f.input_field :zona3, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Mortal</label> 
    <div class="col­md­4"> 
        <%= f.input_field :mortal, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Fecha_mortal</label> 
    <div class="col­md­4"> 
        <%= f.input_field :fecha_mortal, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Descripcion_del_at</label> 
    <div class="col­md­4"> 
        <%= f.input_field :descripcion_del_at, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Hubo_personas_que_presenciaron_el_accidente</label> 
    <div class="col­md­4"> 
        <%= f.input_field :hubo_personas_que_presenciaron_el_accidente, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Tesigo1</label> 
    <div class="col­md­4"> 
        <%= f.input_field :testigo1, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Tipo_de_documento</label> 
    <div class="col­md­4"> 
        <%= f.input_field :tipodoc2, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Documento</label> 
    <div class="col­md­4"> 
        <%= f.input_field :documento2, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Testigo2</label> 
    <div class="col­md­4"> 
        <%= f.input_field :testigo2, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Tipo_de_documento</label> 
    <div class="col­md­4"> 
        <%= f.input_field :tipodoc3, class: 'form­control' %> 
    </div> 
  </div>
  <div class="form­-group">
    <%= f.label :documento %><br>
    <%= f.text_field :documento3 %>
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Documento</label> 
    <div class="col­md­4"> 
        <%= f.input_field :documento3, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Responsable_del_informe</label> 
    <div class="col­md­4"> 
        <%= f.input_field :responsable_informe, class: 'form­control' %> 
    </div> 
  </div>

   <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Tipo de ocumento</label> 
    <div class="col­md­4"> 
        <%= f.input_field :tipodoc4, class: 'form­control' %> 
    </div> 
  </div>

  <div class="form­group"> 
    <label for="name" class="col­sm­3 control­label">Documento</label> 
    <div class="col­md­4"> 
        <%= f.input_field :documento4, class: 'form­control' %> 
    </div> 
  </div>


  <div class="form­group"> 
    <div class="col­sm­offset­2 col­sm­10"> 
      <%= f.submit "Guardar", class: "btn btn­sm btn­success" %> 
    </div> 
  </div> 



<% end %>
