<%= form_for(@accidente) do |f| %>
  <% if @accidente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accidente.errors.count, "error") %> prohibited this accidente from being saved:</h2>

      <ul>
      <% @accidente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_ %><br>
    <%= f.text_field :nombre_ %>
  </div>
  <div class="field">
    <%= f.label :del_diligenciador %><br>
    <%= f.text_field :del_diligenciador %>
  </div>
  <div class="field">
    <%= f.label :documento %><br>
    <%= f.text_field :documento %>
  </div>
  <div class="field">
    <%= f.label :tipodoc_id %><br>
    <%= f.text_field :tipodoc_id %>
  </div>
  <div class="field">
    <%= f.label :tipo_de_vinculacion %><br>
    <%= f.text_field :tipo_de_vinculacion %>
  </div>
  <div class="field">
    <%= f.label :razon_social %><br>
    <%= f.text_field :razon_social %>
  </div>
  <div class="field">
    <%= f.label :direccion_sede_principal %><br>
    <%= f.text_field :direccion_sede_principal %>
  </div>
  <div class="field">
    <%= f.label :direccion_reportada %><br>
    <%= f.text_field :direccion_reportada %>
  </div>
  <div class="field">
    <%= f.label :telefono_reportado %><br>
    <%= f.text_field :telefono_reportado %>
  </div>
  <div class="field">
    <%= f.label :actividad_economica_sede_principal %><br>
    <%= f.text_field :actividad_economica_sede_principal %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :telefono_sede_principal %><br>
    <%= f.text_field :telefono_sede_principal %>
  </div>
  <div class="field">
    <%= f.label :fax_sede_principal %><br>
    <%= f.text_field :fax_sede_principal %>
  </div>
  <div class="field">
    <%= f.label :email_sede_principal %><br>
    <%= f.text_field :email_sede_principal %>
  </div>
  <div class="field">
    <%= f.label :departamento_id %><br>
    <%= f.text_field :departamento_id %>
  </div>
  <div class="field">
    <%= f.label :municipio_id %><br>
    <%= f.text_field :municipio_id %>
  </div>
  <div class="field">
    <%= f.label :zona %><br>
    <%= f.text_field :zona %>
  </div>
  <div class="field">
    <%= f.label :actividad_economica_ct %><br>
    <%= f.text_field :actividad_economica_ct %>
  </div>
  <div class="field">
    <%= f.label :direccion_ct %><br>
    <%= f.text_field :direccion_ct %>
  </div>
  <div class="field">
    <%= f.label :telefono_ct %><br>
    <%= f.text_field :telefono_ct %>
  </div>
  <div class="field">
    <%= f.label :fax_ct %><br>
    <%= f.text_field :fax_ct %>
  </div>
  <div class="field">
    <%= f.label :email_ct %><br>
    <%= f.text_field :email_ct %>
  </div>
  <div class="field">
    <%= f.label :departamento_id %><br>
    <%= f.text_field :departamento_id %>
  </div>
  <div class="field">
    <%= f.label :municipio_id %><br>
    <%= f.text_field :municipio_id %>
  </div>
  <div class="field">
    <%= f.label :zona %><br>
    <%= f.text_field :zona %>
  </div>
  <div class="field">
    <%= f.label :funcionario_id %><br>
    <%= f.text_field :funcionario_id %>
  </div>
  <div class="field">
    <%= f.label :fecha_del_accidente %><br>
    <%= f.date_select :fecha_del_accidente %>
  </div>
  <div class="field">
    <%= f.label :hora_del_accidente %><br>
    <%= f.text_field :hora_del_accidente %>
  </div>
  <div class="field">
    <%= f.label :dia_de_la_semana %><br>
    <%= f.text_field :dia_de_la_semana %>
  </div>
  <div class="field">
    <%= f.label :jornada_en_que_sucede %><br>
    <%= f.text_field :jornada_en_que_sucede %>
  </div>
  <div class="field">
    <%= f.label :realiza_su_labor %><br>
    <%= f.check_box :realiza_su_labor %>
  </div>
  <div class="field">
    <%= f.label :ocupacion_no_habitual %><br>
    <%= f.text_field :ocupacion_no_habitual %>
  </div>
  <div class="field">
    <%= f.label :tiempo_laborado %><br>
    <%= f.text_field :tiempo_laborado %>
  </div>
  <div class="field">
    <%= f.label :lugar_donde_ocurrio_el_at %><br>
    <%= f.text_field :lugar_donde_ocurrio_el_at %>
  </div>
  <div class="field">
    <%= f.label :mecanismo_o_formato_del_at %><br>
    <%= f.text_field :mecanismo_o_formato_del_at %>
  </div>
  <div class="field">
    <%= f.label :tipo_de_lesion %><br>
    <%= f.text_field :tipo_de_lesion %>
  </div>
  <div class="field">
    <%= f.label :sitio %><br>
    <%= f.text_field :sitio %>
  </div>
  <div class="field">
    <%= f.label :tipo_de_accidente %><br>
    <%= f.check_box :tipo_de_accidente %>
  </div>
  <div class="field">
    <%= f.label :parte_del_cuerpo_afectado %><br>
    <%= f.text_field :parte_del_cuerpo_afectado %>
  </div>
  <div class="field">
    <%= f.label :agente_del_accidente %><br>
    <%= f.text_field :agente_del_accidente %>
  </div>
  <div class="field">
    <%= f.label :departamento_id %><br>
    <%= f.text_field :departamento_id %>
  </div>
  <div class="field">
    <%= f.label :municipio_id %><br>
    <%= f.text_field :municipio_id %>
  </div>
  <div class="field">
    <%= f.label :zona_at %><br>
    <%= f.text_field :zona_at %>
  </div>
  <div class="field">
    <%= f.label :mortal %><br>
    <%= f.check_box :mortal %>
  </div>
  <div class="field">
    <%= f.label :fecha_mortal %><br>
    <%= f.text_field :fecha_mortal %>
  </div>
  <div class="field">
    <%= f.label :descripcion_del_at %><br>
    <%= f.text_field :descripcion_del_at %>
  </div>
  <div class="field">
    <%= f.label :hubo_personas_que_presenciaron_el_accidente %><br>
    <%= f.check_box :hubo_personas_que_presenciaron_el_accidente %>
  </div>
  <div class="field">
    <%= f.label :responsable_del_informe %><br>
    <%= f.text_field :responsable_del_informe %>
  </div>
  <div class="field">
    <%= f.label :tipodoc_id %><br>
    <%= f.text_field :tipodoc_id %>
  </div>
  <div class="field">
    <%= f.label :documento %><br>
    <%= f.text_field :documento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
